@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PC Share:</h1>
    <p>
        A website that takes the parts of user submitted computers and breaks down components.
        <br>***WORK IN PROGRESS***
    <br>Pricing and links to buy each part coming soon.
    <br>Proper User registration(password and email privacy)will also be up soon.
    <br> Assignment 1.a) full functionality completed.
</p>
</div>
