@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PC Share:</h1>
    <p>A website that takes the parts of user submitted computers and breaks down pricing,
    and displays links to buy each part.</p>
</div>
